{% extends "base.html" %}
{% from "components/map_component.html" import render_map, render_layer_control, render_basemap_control %}

{% block title %}Map View{% endblock %}

{% block styles %}
<link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% endblock %}

{% block content %}
<div class="map-page-container">
    <div class="sidebar">
        <button id="toggle-split-view" class="control-button">Toggle Split View</button>
        {{ render_layer_control() }}
        {{ render_basemap_control() }}
        <div class="data-table">
            <!-- Data table will be dynamically populated -->
        </div>
    </div>
    <div class="map-section" id="map-container">
        <div class="map-wrapper single active">
            {{ render_map('mapA') }}
        </div>
        <div class="map-wrapper split hidden">
            <div class="split-map">
                <select class="basemap-select" id="mapA-basemap">
                    <option value="osm">OpenStreetMap</option>
                    <option value="arcgis-streets">ArcGIS Streets</option>
                    <option value="arcgis-earth">ArcGIS Earth</option>
                    <option value="stamen">Stamen Streets</option>
                </select>
                {{ render_map('mapA') }}
            </div>
            <div class="split-map">
                <select class="basemap-select" id="mapB-basemap">
                    <option value="osm">OpenStreetMap</option>
                    <option value="arcgis-streets">ArcGIS Streets</option>
                    <option value="arcgis-earth">ArcGIS Earth</option>
                    <option value="stamen">Stamen Streets</option>
                </select>
                {{ render_map('mapB') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
